<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
   <div class="header">
       <div class="seomaza-top-bar">
            <div class="register">
                <a href="#">Register for FREE!</a>|<a href="#">Login</a>
            </div>
            <div class="contacts">
                <span class="phone"><i class="fas fa-phone"></i>+009 998 885 550</span>
                <span class="email"><i class="fas fa-envelope"></i>Youremaillhere@gmail.com</span>
            </div>
            <div class="icons">
                <span class="facebook"><i class="fab fa-facebook-f"></i></span>
                <span class="be"><i class="fab fa-behance"></i></span>
                <span class="in"><i class="fab fa-linkedin-in"></i></span>
                <span class="v"><i class="fab fa-vimeo-v"></i></span>
                <span class="twitter"><i class="fab fa-twitter"></i></span>
            </div>
       </div>
       <div class="nav">
            <span class="logo">
                <img src="../images/seomza-barin.jpg" alt="">
                <h1>SEO.MAZA</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">HOME></a></li>
                    <li><a href="#">ABOUT></a></li>
                    <li><a href="#">SERVICE></a></li>
                    <li><a href="#">CASE STUDY></a></li>
                    <li><a href="#">BLOG></a></li>
                    <li><a href="#">PAGE></a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="button-menu">
                <button>FREE SEO  ANALYZE</button>
            </div>
        </div>
   </div>
</body>
</html>